#page-container{
    max-width:600px;
    background-color:white;
    border-radius:10px;
    margin:100px auto;
}
#form-container{
    padding:50px;
}
#form-container h1{
    font-size: 2vw;
    font-family: 'bebas';
    padding-bottom:20px;
}
#form-container input{
    border:none;
    width:94%;
    background-color:#f2f2f2;
    border-radius: 5px;
    padding:10px 3%;
    margin-bottom:20px;
}
#form-container textarea{
    border:none;
    width:94%;
    background-color:#f2f2f2;
    border-radius: 5px;
    padding:10px 3%;
    margin-bottom:20px;
    resize:vertical;
}
#form-container button{
    border:none;
    background-color:#80ccff;
    color:white;
    padding:15px 20px;
    border-radius:5px;
    cursor:pointer;
}
#form-container button:hover{
    background-color:#006bb3;
}
#error-message{
    display:none;
    width:96%;
    background-color:#ff4d4d;
    color:white;
    padding:20px 2%;
    margin-top:30px;
}
label{
    display:inline-block;
    padding-bottom:5px;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
[type=radio] + img {
    cursor: pointer;
}
[type=radio]:checked + img {
    outline: 2px solid black;
    border-radius:100%;
}
.radio-box{
    padding:10px 0;
    border-bottom:1px solid gainsboro;
}
.radio-box:last-of-type{
    border-bottom: none;
}
.radio-box label{
    display:inline-block;
}
.radio-name{
    line-height:30px;
    vertical-align: top;
}
.radio-icon{
    width:20px;
    height:20px;
    margin:5px;
}