#fullscreen{
    width:100%;
    height: calc(100vh - 70px);
    background-color: black;
    background-image: url("assets/images/medications.jpg");
    background-size: cover;
    position:relative;
}
#fullscreen #overlay{
    position:absolute;
    width:100%;
    height: calc(100vh - 70px);
    background-color: rgba(0,0,0,0.8);
}
#message {
    width:80%;
    padding: 0 10%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
}
#message h1{
    font-size:5vw;
    line-height:8vw;
    color:white;
    font-family: 'Roboto-thin';
}
#message p{
    font-size:1.2vw;
    color:white;
    font-family: 'Roboto-regular';
    line-height:40px;
    max-width:800px;
    margin:0 auto;
}
#message {
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: transform 2.0s;
}
#scroll-button{
    position:absolute;
    bottom:20px;
    text-align: center;
    left:50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    padding: 10px;
    border-radius: 100%;
    transition: background-color .3s;
    transition: padding .3s;
}
#scroll-button:hover{
    padding:30px;
    background-color: rgba(255,255,255,.1);
}
#scroll-button img{
    max-width: 5vw;
}
#scroll-button p{
    color:white;
    font-size: 1vw;
    font-weight: bolder;
    padding:20px 0;
}

#search-area{
    width:100%;
    height:60px;
    background-color: #d9d9d9;
    display:flex;
    justify-content: center;
}
#search-bar{
    width:15%;
    margin:10px;
    padding:5px;
    border:none;
    border-radius:5px;
}
#search-btn{
    margin:10px;
    padding:5px 10px;
    border:none;
    border-radius:5px;
    color:white;
    background-color:#006bb3;
    cursor:pointer;
}
#search-btn:hover{
    background-color:#00538a;
}

#page-container{
    width:100%;
    display:flex;
    justify-content: space-evenly;
    padding: 2% 0;
    min-height: 80vh;
}
#sidebar-left-container{
    flex-basis:15%;
    background-color:white;
    border: 2px solid #C3CFD9;
}
#sidebar-right-container{
    flex-basis:15%;
    background-color:white;
    border: 2px solid #C3CFD9;
}
#main{
    flex-basis:60%;
    background-color:white;
}
#main a{
    text-decoration: none;
    display:block;
}
#main-container{
    padding:2%;
}

.result{
    width:94%;
    padding:3%;
    color:#404040;
    display:flex;
}
.result-left{
    flex-basis:60%;
}
.result-right{
    flex-basis:40%;
    height: 220px;
}
.result:hover{
    background-color: #f2f2f2;
}
#main-container a:not(:last-child){
    border-bottom: 1px solid #bfbfbf;
}
.drug-name{
    font-size:20px;
    color: #006bb3;
}
.ad-name{
    font-size:40px;
    font-weight: 900;
    padding:10px 0;
    color:black;
}
.rating{
    text-align: center;
    width:92%;
    padding:2%;
    margin-right:4%;
    background-color:gainsboro;
}
.percent{
    font-size: 20px;
    font-weight:700;
    line-height:40px;
}
.bar-container{
    width:100%;
    border-radius: 5px;
    height:30px;
    overflow:hidden;
    background-color:#bfbfbf;
}
.bar-container div{
    background-color: #006bb3;
    height:100%;
}